
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  color: darkslategrey;
  width:100%;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  color: darkslategray;
  width: 100%;
}
